Source: steam
Section: non-free/games
Priority: extra
Maintainer: Debian Games Team <pkg-games-devel@lists.alioth.debian.org>
Uploaders: Michael Gilbert <mgilbert@debian.org>
Build-Depends:
 debhelper (>= 9),
 python-dev,
Standards-Version: 3.9.6
Homepage: http://www.steampowered.com

Package: steam
Architecture: i386 amd64
Multi-Arch: foreign
Pre-Depends:
 debconf,
 ${misc:Pre-Depends},
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 xz-utils [i386],
 libudev1 [i386],
 libxinerama1 [i386],
 libtxc-dxtn0 [i386],
 libc6 (>= 2.15) [i386],
 libgl1-mesa-dri [i386],
 libgl1-mesa-glx [i386],
 xterm [i386] | x-terminal-emulator [i386],
 steam-multiarch [amd64]
Recommends:
 zenity [i386],
 fonts-liberation [i386],
Description: Valve's Steam digital software delivery system
 Steam (http://www.steampowered.com) is a software content delivery system
 developed by Valve software (http://www.valvesoftware.com).  There is
 some free software available, but for the most part the content delivered
 is non-free.
 .
 This package comes with a fairly substantial non-free license agreement
 that must be accepted before installing the software.  If you have any
 opposition to non-free work, please select "I DECLINE" during the package
 installation dialogs.   There are also additional agreements in various
 parts of the application that differ from the original agreement.  In
 other words, pay attention and read carefully if you're worried about your
 rights.

Package: steam-multiarch
Architecture: amd64
Depends:
 ${misc:Depends}
Description: multiarch helper
 Provide multiarch automation

Package: steam-helper
Architecture: amd64
Pre-Depends:
 steam-multiarch,
Depends:
 ${misc:Depends},
 steam:i386,
Description: additional helper
 Final step for multiarch automation
